<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.mapper.MemberMapper">
	
	<insert id="register">
		insert into sp_user(userid, email, password) values(#{userid}, #{email}, #{password})
	</insert>
	
	<insert id="registerAuth">
		insert into sp_user_authority(userid, authority) values(#{userid}, #{authority})
	</insert>
	
	
	<!-- 로그인 시 조회 결과를 가지고 나올 sql 작성 -->
	<resultMap type="com.spring.security.SpUser" id="spUser">
		<id property="userid" column="userid"/>
		<result property="email" column="email"/>
		<result property="enabled" column="enabled"/>
		<result property="password" column="password"/>
		<collection property="authorities" resultMap="authList"/>
	</resultMap>
	
	<resultMap type="com.spring.security.SpUserAuthority" id="authList">
		<result property="userid" column="userid"/>
		<result property="authority" column="authority"/>
	</resultMap>
	
	<select id="select" resultMap="spUser">
		select u.userid, email, password, enabled, authority
		from SP_USER u left outer join SP_USER_AUTHORITY a on u.userid = a.userid
		where u.userid = #{userid}
	</select>
</mapper>