<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.mapper.PersonMapper">
	<insert id="insertPerson">
		insert into person(id, name) values(#{id}, #{name})
	</insert>
	<select id="selectPerson" resultType="java.lang.String">
		select name from person where id = #{id}
	</select>
	<select id="selectAll" resultType="com.spring.domain.PersonVO">
		select * from person
	</select>
	<update id="updatePerson">
		update person set name=#{name} where id=#{id}
	</update>
	<delete id="deletePerson">
		delete from person where id=#{id}
	</delete>
</mapper>