<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.mapper.MemberMapper">
	
	<!-- 회원가입 작성 : insert -->
	<insert id="insert">
		insert into memberTBL(userid, password, name, gender, email) 
		values(#{userid}, #{password}, #{name}, #{gender}, #{email})
	</insert>
	
	<!-- 중복된 아이디 검사: dupId -->
	<select id="dupId" resultType="com.spring.domain.MemberVO">
		select * from memberTBL where userid = #{userid}
	</select>
	
		
</mapper>